html {
    background: white;
}

body {
    max-width: 40rem;
    margin: 0 auto;
    background: ghostwhite;
    padding: 20px;
    box-shadow: 0 0 20px 20px #f8f8ffeb;
}

header {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding-left: 0px;
    justify-content: center;
}

nav ul>li {
    padding: 5px;
}
